body {
    font-family: "Handlee", serif;
    font-weight: 600;
    background-color: #65beb1;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
h1 {
    font-family: "Calistoga", serif;
    text-align: center;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
}
.cadaCurso input{
    width: 30%;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #B000DF;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Handlee", serif;
    font-weight: 600;
    font-size: 18px;
}
button:hover {
    background-color: #9034A9;
}
.result {
    display: none ;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
}
.contenedorCursos {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.cadaCurso{
    margin: 1%;
}
h4{
    width: 100%;
}
.labelTitulo{
    font-size: 18px;
    font-weight: 600;
}

